

header {
  padding: 1px 20px;
  background-color: rgb(13, 13, 134);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px

}

header img {
  width: 60px;
  height: 100%
}

.search {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.search-input-container {
  position: relative;
  width: 400px;
}

.search-input-container > input {
  width: 100%;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  color: #555;
  cursor: pointer;
  font-size: 1rem;
}

.search-button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.movie-container h2 {
  margin-left: 10px;
}

.movie-list {
  display: flex;
  overflow-x: auto;
  /* white-space: nowrap; */
  padding: 1rem;
  gap: 1rem;
  scroll-behavior: smooth;
}

.movie-card {
  flex: 0 0 auto; /* Prevent shrinking, don't grow */
  width: 150px;
  height: 310px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.image-container {
  position: relative;
  width: 100%;
}

.movie-card img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.movie-card-text * {
  padding: 0;
  margin: 0
}

.movie-card h4 {
  font-size: 0.8em;
  margin-bottom: 0;
  margin-left: 2px;
}

.movie-card p {
  font-size: 0.8em;
  margin-left: 2px;
}

.score {
  position: absolute;
  bottom: -15px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid green;
  color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 50px;
}

.movie-details {
  position: relative;
  /* height: 100vh; */
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.movie-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7)
}

.movie-content {
  position: relative;
  color: white;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.poster-image {
  width: 300px;
  border-radius: 10px;
  height: auto
}

.movie-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.genre-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.genre-line ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.genre-line ul li {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 6px;
  border-radius: 4px;
  /* font-size: 0.9rem; */
}

.score-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.score-details {
  /* position: absolute; */
  /* bottom: -15px; */
  /* left: 8px; */
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid green;
  color: #fff;
  margin:  20px 1px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50px;
}

.score-line h2 {
  width: 20px;
}

.tagline {
  color: rgb(228, 227, 227);
  font-style: italic;
  margin-bottom: 0;
}

.overview {
  margin-bottom: 30px;
}

.crew-display {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.crew-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.crew-card * {
  margin: 0;
  padding: 0;
}

.movie-bottom-info {
  display: flex; 
  gap: 20px;
  align-items: flex-start;
  padding: 2rem;
  overflow-x: hidden
}

.cast-container {
  flex: 1;
  min-width: 0;
  overflow-x: auto
  /* margin: 10px; */

}

.cast-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0;
  scroll-behavior: smooth;
  white-space: nowrap
}

.actor-card {
  flex: 0 0 auto;
  width: 150px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  /* padding: 0.5rem; */
  overflow: hidden; /* ✅ This clips image corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.actor-card * {
  margin: 0;
  padding: 0;
}

.actor-card .actor-image {
  width: 100%;
}

.actor-card .actor-text {
  text-align: left;
  margin-bottom: 10px
}

.movie-info-container {
  padding: 10px;
  width: 200px;  
}

.movie-info-block {
  margin-bottom: 20px
}

.movie-info-block * {
  margin: 0;
  padding: 0
}

.search-card {
  display: flex;
  height: 200px;
  /* padding: 5px; */
  gap: 5px;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.search-image {
  height: 100%
}

.search-card.search-text-container {
  display: flex;
  flex-direction: column;
}

.search-text-container p {
  display: -webkit-box;
  -webkit-line-clamp: 3;       /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px
}

.page-buttons > button {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}

.actor-container {
  display: flex;
  margin: 20px;
  gap: 30px
}

.actor-left-container {
  display: flex;
  flex-direction: column;
}

.profile-image {
  border-radius: 10px;
  width: 300px;
  height: auto;
}

.actor-right-container {
  flex: 1;
  min-width: 0;
}

.feature-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
  padding: 1rem;
  scroll-behavior: smooth;
  width: 100%;
}

.feature-card {
  width: 150px;
  height: auto;
  text-align: center;
  flex: 0 0 auto;
  overflow: hidden;
}

.feature-card > span {
  text-align: center
}

.feature-photo {
  width: 100%;
  border-radius: 10px
}

.actor-movie-list-container {
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 10px
}

.actor-movie-block {
  display: flex;
  flex-direction: row;
  gap: 40px
}

a {
  color: inherit;
  text-decoration: none;
}